<h1 mat-dialog-title>Add New Employee</h1>
<div mat-dialog-content>
  <mat-form-field><input matInput placeholder="EmployeeId" [(ngModel)]="data.employeeId" required/></mat-form-field>
  <mat-form-field><input matInput placeholder="FullName" [(ngModel)]="data.fullName" required/></mat-form-field>
  <mat-form-field><input matInput placeholder="Empcode" [(ngModel)]="data.empcode" required/></mat-form-field>
  <mat-form-field><input matInput placeholder="Mobile" [(ngModel)]="data.mobile" required/></mat-form-field>
  <mat-form-field><input matInput placeholder="Position" [(ngModel)]="data.position" required/></mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
  <button mat-raised-button (click)="addEmp()">OK</button>
</div>
